.split-section {
    display: flex;
    width: 100%;
    height: 98vh; /* 105vh hata diya */
    overflow: hidden;
}

/* LEFT SIDE (IMAGE) */
.right-image {
    width: 48%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #000;
}

/* IMAGE FIX - PERFECT FIT */
.right-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;
}

/* RIGHT SIDE (TEXT) */
.left-content {
    width: 52%;
    background: #1e90ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* TEXT */
.text-box {
    text-align: left;
    padding: 40px;
}

.text-box h1 {
    font-size: 0px;  
    margin-bottom: 0px;
}

.text-box p {
    font-size: 45px;   
    padding: 20px 40px;
    font-weight: 500;
}

/* ANIMATION */
.left-content {
    animation: fadeRight 1s ease forwards;
}

.right-image {
    animation: fadeLeft 1s ease forwards;
}

@keyframes fadeLeft {
    from { transform: translateX(-60px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeRight {
    from { transform: translateX(60px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}


@media (max-width: 1024px) {
    .split-section {
        flex-direction: column;
        height: auto;
    }

    .right-image,
    .left-content {
        width: 100%;
        height: 50vh;
    }

    .text-box {
        padding: 30px;
    }

    .text-box p {
        font-size: 28px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .split-section {
        flex-direction: column;
        height: auto;
    }

    .right-image,
    .left-content {
        width: 100%;
        height: auto;
        min-height: 50vh;
    }

    .text-box {
        padding: 20px;
        text-align: center;
    }

    .text-box p {
        font-size: 30px;
        padding: 10px;
        line-height: 1.5;
    }
}

@media (max-width: 480px) {
    .text-box p {
        font-size: 28px;
    }

    .text-box {
        padding: 15px;
    }
}